// Color Variables
$royal_blue1: #6096ff; // Main color
$royal_blue2: #81acff; // Main color when hover
$royal_blue3: #4da1ff; // Main color when border
$space_gray1: #ebe9e4; // Information text
$space_gray2: #929292;
$space_gray3: #eceaea;
$space_gray4: #bdb9b9;
$space_gray5: #7a7a7a;
$space_gray6: #f9f9f9;
$space_gray7: #979797;
$space_gray7: #d7d6d6;
$black_navy1: #0c1020; // Font color
$black_navy2: #373737;
$black_navy3: #353534;
$black_navy4: #333333;
$black_navy5: #363535;

// Size Variables
$navbar-height: 50px;
$container-width: 1180px;
$small-container-width: 780px;

// s3 url
$s3-url: "https://d103giazgvc1eu.cloudfront.net/";
// Mixin
/*
* $bgc : background-color (e.g. #60ddff, $light_royal_blue1, rgba(,,,))
* $width, $height : width, height value (e.g. 133.5px)
* $fsize : font-size value  (e.g. 16px)
*/
@mixin default-button($bgc: $space_gray3, $width: 156px, $height: 47px, $fsize: 16px) {
  display: inline-block;
  width: $width;
  height: $height;
  line-height: $height;
  font-size: $fsize;
  border-radius: 24.8px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $bgc;
  cursor: pointer;

  @if $bgc == $space_gray3 {
    color: $black_navy2;
  } @else if $bgc == $black_navy3 {
    color: $space_gray3;
  } @else if $bgc == $royal_blue1 {
    color: #fff;

    &:hover {
      background-color: $royal_blue2;
    }
  }

  &:hover {
    transform: translate3d(0, -1px, 0);
  }

  &:active {
    transform: translate3d(0, 1px, 0);
  }
}

@mixin s3-background-image($file_name) {
  background-image: url($s3_url + "/" + $file_name);
}

@mixin one-line-elipsis-truncate($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
