<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Decentralized Scholarly Communication Platform</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta property="og:url" content="https://join.pluto.network" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="The Future of Scholarly Communication" />
  <meta property="og:description" content="Decentralized Scholarly Communication Platform" />
  <meta property="og:image" content="https://pbs.twimg.com/profile_images/879901726739808256/ry_UkEdB_400x400.jpg" />
</head>

<body>
  <div id="react-app"></div>
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>

</html>
