@import "../../variables";

.homeContainer {
  position: relative;
}

.signContainer {
  width: 940px;
  margin: 97.5px auto 0 auto;
  display: flex;
  position: relative;
  vertical-align: top;
}
