@import "../../../../variables";

.signListContainer {
  width: 613px;

  .title {
    margin-top: 32px;
    font-size: 40px;
    font-weight: 300;
    color: $space_gray4;

    .number {
      font-weight: normal;
      color: $royal_blue1;
    }
  }

  .searchBar {
    margin-top: 60px;
    width: 613px;
    border-bottom: solid 2px $black_navy2;
    display: flex;

    .placeHolder {
      font-size: 24px;
      color: $space_gray4;
      position: absolute;
      font-weight: 300;
      z-index: -1;

      .bold {
        font-weight: normal;
      }
    }

    .inputBox {
      border: 0;
      height: 24px;
      font-size: 24px;
      color: $black_navy2;
      flex: 1;
      margin-bottom: 19px;
      z-index: 2;
      background: transparent;
    }

    .searchIconWrapper > svg {
      width: 23px;
      height: 23px;
    }
  }
}

.userList {
  list-style: none;
  padding: 0;
}

.userItem {
  padding: 20px 10.5px;
  border-top: solid 1px #e0e0e0;
  display: flex;
  height: 88px;
  font-size: 18px;
  font-weight: 300;
  color: #3d3d3d;

  &:last-of-type {
    border-bottom: solid 1px #e0e0e0;
  }
}

.userItemCategory {
  display: flex;
  height: 39px;
  padding: 0 10.5px 15.5px 10.5px;
  font-size: 20px;
  font-weight: 300;
  color: #3d3d3d;
}

.userItemName {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 100%;
}

.userItemAffiliation {
  display: inline-block;
  vertical-align: top;
  flex: 1;
  height: 100%;
}

.userItemDate {
  display: inline-block;
  vertical-align: top;
  width: 186px;
  height: 100%;
}
