@import "../../../../variables";

.signListContainer {
  width: 613px;
  margin-bottom: 114px;

  .title {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 300;
    color: $space_gray4;

    .number {
      font-weight: normal;
      color: $royal_blue1;
    }
  }

  .searchBar {
    margin-top: 60px;
    width: 613px;
    border-bottom: solid 2px $black_navy2;
    display: flex;

    .placeHolder {
      font-size: 24px;
      color: $space_gray4;
      position: absolute;
      font-weight: 300;
      z-index: -1;

      .bold {
        font-weight: normal;
      }
    }

    .inputBox {
      border: 0;
      height: 24px;
      font-size: 24px;
      color: $black_navy2;
      flex: 1;
      margin-bottom: 19px;
      z-index: 2;
      background: transparent;
    }

    .searchIconWrapper > svg {
      width: 23px;
      height: 23px;
    }
  }
}

.userList {
  margin-top: 40px;
  list-style: none;
  padding: 0;
}

.userItem {
  padding: 20px 0;
  border-top: solid 1px $space_gray10;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  color: $black_navy6;
}

.userComment {
  width: 605px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: $royal_blue1;
  padding-left: 13px;
  padding-right: 2px;
  border-left: solid 2px $royal_blue2;
  margin: -2px 0px 21px 7px;
  word-break: break-word;
}

.userItemCategory {
  display: flex;
  height: 39px;
  padding: 0 10.5px 15.5px 10.5px;
  font-size: 20px;
  font-weight: 300;
  color: $black_navy6;
}

.userItemName {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 100%;
}

.userItemAffiliation {
  display: inline-block;
  vertical-align: top;
  flex: 1;
  height: 100%;
}

.userItemDate {
  display: inline-block;
  vertical-align: top;
  width: 186px;
  height: 100%;
}

.spinner {
  margin: 50px auto 0 auto;
  text-align: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: $space_gray8;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .signListContainer {
    width: unset;
    margin: 57.5px 15px 0 15px;

    .title {
      font-size: 15.8px;

      .number {
        display: block;
        margin-bottom: 5px;
        font-size: 28px;
        color: $royal_blue1;
      }
    }

    .userList {
      .userItemCategory {
        font-size: 14px;

        .userItemName {
          width: 100px;
        }

        .userItemDate {
          width: 50px;
        }
      }

      .userComment {
        padding-left: 5.5px;
        font-size: 12px;
        width: unset;
      }

      .userItem {
        font-size: 12px;
        .userItemName {
          width: 100px;
        }

        .userItemDate {
          width: 50px;
        }
      }
    }
  }
}
